
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
In-HouseDistribution.plist
PartySchool

Created by Arthas on 16/4/29.
Copyright (c) 2016年 __MyCompanyName__. All rights reserved.
-->


<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">-->

<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        
<!--                    https://112.33.2.210:83/ipa/ipa_name.ipa  ipa文件下载地址  -->
                        <string>https://112.33.2.210:83/ipa/PartySchool.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
<!--                    https://112.33.2.210:83/ipa/icon_120.png  ipa安装时的图标  -->
                        <string>https://112.33.2.210:83/ipa/icon_120.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
<!--                        https://112.33.2.210:83/ipa/icon_120.png  ipa安装时的图标-->
                        <string>https://112.33.2.210:83/ipa/icon_120.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
<!--                    ipa 文件的描述 -->
                    <key>bundle-identifier</key>
<!--                    app bundle id -->
                    <string>com.chinamobile.qt.PartySchool</string>
<!--                    0.0.1 app版本号 -->
                    <key>bundle-version</key>
                    <string>0.0.1</string>
<!--                    software  类型 -->
                    <key>kind</key>
                    <string>software</string>
<!--                    your app name 移动网上党校 -->
                    <key>title</key>
                    <string>移动网上党校</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
